</div>
    <div class="flex items-center justify-center">
        <table class="shadow-lg bg-white">
            <thead>
            <tr>
                <th class="bg-black border text-center text-white px-8 py-4">First Name</th>
                <th class="bg-black border text-center text-white px-8 py-4">Last Name</th>
                <th class="bg-black border text-center text-white px-8 py-4">Email</th>
                <th class="bg-black border text-center text-white px-8 py-4">Phone number</th>
                <th class="bg-black border text-center text-white px-8 py-4">Customer Address</th>
                <th class="bg-black border text-center text-white px-8 py-4">USER ID</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border text-center px-8 py-4">{{this.firstName}}</td>
                    <td class="border text-left px-8 py-4">{{this.lastName}}</td>
                    <td class="border text-center px-8 py-4">{{this.email}}</td>
                    <td class="border text-left px-8 py-4">{{this.phonenum}}</td>
                    <td class="border text-left px-8 py-4">{{this.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>