<div class="flex flex-col items-center justify-center h-screen gap-y-8 align-middle">
    <div class="flex flex-col gap-y-4">
        <div class="flex flex-col">
            <div class="text-black font-black text-9xl">Bytesized;</div>
            <div class="text-black font-light text-md pt-3 text-center">the one-stop shop for programmer snacks</div>
        </div>
        <div class="flex flex-col">
            <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 py-3
        hover:bg-black hover:text-white transform hover:scale-110">
                <a href="/listprod">Begin Shopping</a>
            </button>
            <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 p-2
        hover:bg-black hover:text-white transform hover:scale-110">
                <a href="/listorder">List All Orders</a>
            </button>
        </div>
    </div>
    <div class="h-1/4">
        <div class="text-lg font-bold p-3">Our Top Selling Items:</div>
        <div class="flex flex-row flex-shrink h-full gap-4">
            {{#each topProd}}
                <div class="bg-white w-1/2 rounded-2xl overflow-hidden shadow-md hover:shadow-2xl transition duration-300">
                    <div class="rounded-md h-1/2 w-full">
                        <img class="object-cover h-full w-full" src={{this.productImageURL}} alt={{this.productName}}
                        onerror="this.onerror=null; this.src='img/default.jpg'">
                    </div>
                    <div class="p-2 flex justify-between items-center">
                        <div>
                            <h1 class="text-md mt-2 font-semibold">{{this.productName}}</h1>
                            <p class="">{{priceFormat this.productPrice}}</p>
                        </div>
                        <div>
                            <button class="transition duration-600 ease-in-out border-2 border-black text-sm text-black font-extrabold m-2 p-2
            hover:bg-black hover:text-white transform hover:scale-110">
                                <a href={{makeAddCartURL this}}>Add to Cart</a>
                            </button>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="pt-10 align-bottom flex flex-col items-center justify-center">
        <div class="flex flex-col">
            <button class="transition duration-600 ease-in-out border-2 border-black text-black font-extrabold m-2 p-2
            hover:bg-black hover:text-white transform hover:scale-110">
                <a href="/loaddata">Load Database</a>
            </button>
        </div>
        <div class="flex flex-row">
            <div class="text-black font-light text-md p-2 text-center">Authors - Group 10:</div>
            <div class="text-black font-light text-md p-2 text-center">Abhineeth Adiraju</div>
            <div class="text-black font-light text-md p-2 text-center">Jacob Vanzella</div>
            <div class="text-black font-light text-md p-2 text-center">Monica Rampaul</div>
            <div class="text-black font-light text-md p-2 text-center">Pavni Agarwal</div>
        </div>
    </div>
</div>



