<div class="flex items-center justify-center py-2">
    <div class="w-1/2 mx-auto shadow-lg rounded-md p-4 bg-gray">
        <p class="text-2xl font-extrabold py-2">Search Products</p>
        <form method="get" action="listprod">
            <div class="flex gap-2 flex-row-center">
                <div class="relative flex-1">
                    <label for="productName"
                           class=" left-2 px-1 -top-2.5 bg-white text-black text-sm transition-all">
                        Product Name :
                    </label>
                    <input id="productName" name="productName" type="text"
                           class=" h-10 border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-black focus:border-2 p-3"
                           placeholder="Microchips, etc">
                </div>
                <div class="relative flex-1">
                    <button type="submit" class="bg-black text-white font-extrabold text-md px-4 py-2">Search</button>
                    <button type="reset" class="outline-black text-black font-extrabold text-md px-3 py-1">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="flex items-center justify-center">
    <div class="col-span-12">
        <table class="shadow-lg bg-gray">
            <thead>
            <tr>
                <th class="bg-black border text-left text-white px-8 py-4">Product Image</th>
                <th class="bg-black border text-left text-white px-8 py-4">Product Name</th>
                <th class="bg-black border text-left text-white px-8 py-4">Category</th>
                <th class="bg-black border text-left text-white px-8 py-4">Price</th>
            </tr>
            </thead>
            <tbody>
            {{#each prodList}}
                <tr>
                    <td class="border text-center px-20 py-4">
                        <img src={{this.productImageURL}} alt={{this.productName}}>
                    </td>
                    <td class="border text-left px-8 py-4">{{this.productName}}</td>
                    <td class="border text-left px-8 py-4">{{this.categoryName}}</td>
                    <td class="border text-left px-8 py-4">{{this.productPrice}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
