<div class="text-7xl font-black text-center">{{product.productName}};</div>
<div class="flex items-center justify-center px-4 py-3"><img class="object-cover" src={{makeImageURL product.productId}}
                                                             alt={{product.productName}} onerror="this.remove();"></div>
<div class="flex items-center justify-center">
    <div class="col-span-12">
        <table class="shadow-lg bg-white">
            <thead>
            <tr>
                <th class="bg-black border text-left text-white px-8 py-4">Product Image</th>
                <th class="bg-black border text-left text-white px-8 py-4">Product Name</th>
                <th class="bg-black border text-left text-white px-8 py-4">Description</th>
                <th class="bg-black border text-left text-white px-8 py-4">Category</th>
                <th class="bg-black border text-left text-white px-8 py-4">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="border w-1/4">
                    <div class="flex justify-center">
                        <div class="w-1/2">
                            <img class="object-cover" src={{product.productImageURL}} alt={{product.productName}}
                                 onerror="this.onerror=null; this.src='img/default.jpg'">
                        </div>
                    </div>
                </td>
                <td class="border text-left px-8 py-4">{{product.productName}}</td>
                <td class="border text-left px-8 py-4">{{product.productDesc}}</td>
                <td class="border text-left px-8 py-4">{{product.categoryName}}</td>
                <td class="border text-left px-8 py-4">{{priceFormat product.productPrice}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="flex items-center justify-center px-4 py-3">
    <div class="flex gap-2 flex-row-center content-evenly">
        <div class="relative flex-2 pt-7">
            <a href={{makeAddCartURL product}}>
                <button class="bg-black text-white font-extrabold text-md m-2 px-4 py-2">Add to Cart
                </button>
            </a>
        </div>
    </div>
    <div class="flex gap-2 flex-row-center content-evenly">
        <div class="relative flex-2 pt-7">
            <a href="/listprod">
                <button class="outline-black text-black font-extrabold text-md px-4 py-1">Continue
                    Shopping
                </button>
            </a>
        </div>
    </div>
</div>
