<div class="text-7xl font-black text-center">Shipments;</div>
<div class="flex items-center justify-center px-4 py-3">
    <div class="w-1/2 mx-auto shadow-lg rounded-md p-4 bg-white">
        <p class="text-2xl font-extrabold py-2">Search Order:</p>
            <form method="get" action="ship">
                <div class="flex gap-2 flex-row-center content-evenly">
                    <div class="relative flex-1">
                        <label for="orderId"
                                class=" left-2 px-1 -top-2.5 bg-white text-black text-sm transition-all">
                            Order Id :
                        </label>
                        <input id="orderId" name="orderId" type="text"
                                class=" h-12 border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-black focus:border-2 transition ease-in duration-100 p-3"
                                placeholder="Microchips, etc">
                    </div>
                    <div class="relative flex-1 pt-1">
                        <button type="submit" class="bg-black text-white font-extrabold text-md px-4 py-2">Submit</button>
                        <button type="reset" class="outline-black text-black font-extrabold text-md px-4 py-1">Clear</button>
                    </div>
                </div>
            </form>
    </div>
</div>
<div>
    {{#if valid}}
        {{#if flag}}
            <div class="flex justify-center text-red-600">
                <p>{{ordList}}</p>
            </div>
        {{else}}
            <div class="flex items-center justify-center">
                <table>
                    <tr>
                        <th class="bg-black border text-center text-white px-8 py-4">Ordered Product</th>
                        <th class="bg-black border text-center text-white px-8 py-4">Quantity</th>
                        <th class="bg-black border text-center text-white px-8 py-4">Previous Inventory</th>
                        <th class="bg-black border text-center text-white px-8 py-4">New Inventory</th>
                    </tr>
                    {{#each ordList}}
                    <tr>
                        <td class="border text-center px-8 py-4">{{this.productId}}</td>
                        <td class="border text-center px-8 py-4">{{this.quantity}}</td>
                        <td class="border text-center px-8 py-4">{{this.quantity2}}</td>
                        <td class="border text-center px-8 py-4">{{this.remaining}}</td>
                    </tr>
                    {{/each}}
                </table>
            </div>
            <div class="flex justify-center text-green-500">
                <p>Shipment successfully processed.</p>
            </div>
        {{/if}}
    {{else}}
        <div class="flex justify-center">
            <p>Please enter a valid order Id</p>
        </div>
    {{/if}}

</div>

