<div class="text-7xl font-black text-center">In Cart;</div>
{{#if cartSize}}
    <div class="flex items-center justify-center px-4 py-3">
        <div class="w-1/2 mx-auto shadow-lg rounded-md p-4 bg-white">
            <p class="text-2xl font-extrabold py-2">Order Summary</p>
            <form method="get" action="checkout">
                <div class="flex gap-2 flex-row-center content-evenly">
                    <div class="relative flex-1">
                        <label for="total"
                               class=" left-2 px-1 -top-2.5 bg-white text-black text-sm transition-all">
                            Cart Total :
                        </label>
                        <p id="total" name="total" type="text"
                           class=" h-12 border border-1.5 rounded-md border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-black focus:border-2 transition ease-in duration-100 p-3">
                            {{priceFormat this.total}}
                        </p>
                    </div>
                    <div class="relative flex-2 pt-7">
                        <button type="submit" class="bg-black text-white font-extrabold text-md px-4 py-2">Check Out
                        </button>
                    </div>
                </div>
            </form>
            <form method="get" action="listprod">
                <div class="flex gap-2 flex-row-center content-evenly">
                    <div class="relative flex-2 pt-7">
                        <button type="submit" class="outline-black text-black font-extrabold text-md px-4 py-1">Continue
                            Shopping
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <div class="col-span-12">
            <table class="shadow-lg bg-white">
                <thead>
                <tr>
                    <th class="bg-black border text-left text-white px-8 py-4">Product Name</th>
                    <th class="bg-black border text-left text-white px-8 py-4">Quantity</th>
                    <th class="bg-black border text-left text-white px-8 py-4">Price</th>
                    <th class="bg-black border text-left text-white px-8 py-4">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                {{#each productList}}
                    <tr>
                        <td class="border text-left px-8 py-4"><a href={{makeProductURL this.id this.name}} class="hover:underline">{{this.name}}</a></td>
                        <td class="border text-left px-8 py-4">{{this.quantity}}</td>
                        <td class="border text-left px-8 py-4">{{priceFormat this.price}}</td>
                        <td class="border text-left px-8 py-4">{{priceFormat this.subtotal}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{else}}
    <!--Error message if it doesn't have items-->
    <div class="text-2xl font-extralight text-center mb-4">Your cart is empty. <a class="underline font-black"
                                                                                  href="/listprod">Go shopping</a>
    </div>
{{/if}}
